<h2>Songs</h2>
<div class="spacer"></div>

<% if @songs.any? %>
	<ul class="songs">
		<li class="songlist"> <a href="/songs/new" class="songlink"><em>*Create a New Song</em></a></li>
		<% @songs.each do |song| %>
			<li class="songlist"> <a href="/songs/<%=song.id%>"><%=song.title%></a> </li>
		<% end %>
	</ul>
<% else %>
	<p>no songs have been created!</p>
<% end %>
