@font-face {
    font-family: flagship;
    src: url(AbrilFatface-Regular.otf);
}

body {	
	background-image: url(legend.gif);
	background-repeat: no-repeat;
	background-position: right  top;
	font-family: flagship;
}

header {
	font-family: flagship;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 48px;

}

h3 {
	font-size: 32px;
}

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  color: #90C3D4;
  border: 1px solid #90C3D4;
}

#like p {
    font-weight: bold;
}

#like  input {
    background: url(/like.png) 0 2px no-repeat;
    border: #333, 1px solid;
    height: 28px;
    padding-left: 24px;
  }


label {
	display: block;
	margin-top: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.current {
	color: #222;
}

.songs {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.songlist a {
	text-decoration: none;
	padding-right: 25px;
	font-size: 25px;
	color: #222;
}

nav li {	
	display: inline;
}


nav a {
	text-decoration: none;	
	padding-right: 25px;
	color: #aaa;
	font-size: 25px;
}

.spacer {
	height: 25px;
}